<form class="note-form" [formGroup]="form" (ngSubmit)="send()">
  <h2 mat-dialog-title class="header">
    <span class="title">{{ data.title }}</span>
  </h2>

  <div mat-dialog-content class="dialog-content">
    <div class="note-field">
      <mat-form-field appearance="outline" class="note-field__form">
        <mat-label>{{ isHistoryClarify ? 'Текст' : 'Описание' }}</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  [cdkAutosizeMinRows]="4"
                  [cdkAutosizeMaxRows]="12"
                  [disabled]="transcribing"
                  [formControl]="noteControl!"></textarea>
        <button *ngIf="hasNoteValue"
                mat-icon-button
                matSuffix
                type="button"
                aria-label="Очистить"
                (click)="clearNote()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button type="button"
              class="note-field__mic-button"
              [class.note-field__mic-button--recording]="isRecording"
              [disabled]="transcribing"
              aria-label="Записать голос"
              [matTooltip]="micTooltip"
              (mousedown)="startRecord($event)"
              (touchstart)="startRecord($event)"
              (mouseup)="stopRecord()"
              (mouseleave)="stopRecord()"
              (touchend)="stopRecord()"
              (touchcancel)="stopRecord()">
        <mat-icon>{{ isRecording ? 'mic' : 'mic_none' }}</mat-icon>
      </button>

      <div class="note-field__hints">
        <div class="note-field__hint" *ngIf="!isRecording">{{ idleHint }}</div>
        <div class="note-field__hint note-field__hint--recording" *ngIf="isRecording">{{ recordingHint }}</div>
      </div>
    </div>

    <mat-form-field appearance="outline" class="time-field">
      <mat-label>{{ isHistoryClarify ? 'Время' : 'Дата и время' }}</mat-label>
      <input matInput
             [type]="isHistoryClarify ? 'time' : 'datetime-local'"
             formControlName="timestamp" />
      <mat-icon *ngIf="isHistoryClarify" matSuffix>schedule</mat-icon>
    </mat-form-field>

    <mat-progress-bar *ngIf="transcribing" mode="indeterminate"></mat-progress-bar>

    <div class="preview" *ngIf="previewNote || previewTime">
      <div class="preview__title">Будет отправлено:</div>
      <div class="preview__row" *ngIf="previewNote">
        <span class="preview__label">Текст:</span>
        <span class="preview__value">{{ previewNote }}</span>
      </div>
      <div class="preview__row" *ngIf="previewTime as previewTimeValue">
        <span class="preview__label">Время:</span>
        <span class="preview__value">{{ previewTimeValue | date: 'HH:mm, d MMMM' }}</span>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="actions" [class.actions--history]="isHistoryClarify">
    <button *ngIf="isHistoryClarify" mat-button color="warn" type="button" (click)="remove()">Удалить</button>
    <span class="spacer" *ngIf="isHistoryClarify"></span>
    <button mat-button type="button" (click)="close()">Отмена</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!canSend">Отправить</button>
  </div>
</form>
