:host {
  display: block;
}

.app-shell {
  position: relative;
}

.app-drawer {
  width: 260px;
  z-index: 1000;
}

.app-content {
  display: flex;
  flex-direction: column;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  padding: 12px;
  margin-top: 64px;
}
