<mat-sidenav-container class="app-shell">
  <mat-sidenav #drawer mode="over" class="app-drawer" fixedInViewport [autoFocus]="false">
    <app-side-menu (close)="drawer.close()"></app-side-menu>
  </mat-sidenav>

  <!-- ВЕРХ/НИЗ ВКЛАДЫШИ ВНЕ mat-sidenav-content (выше по слою) -->
  
  

  <mat-sidenav-content class="app-content">
    <!-- Верхний тулбар (не растягиваем, только сдвигаем) -->
     @if(safeTop() > 0)
     {
        <div class="safe-top" [style.height.px]="safeTop()"></div>
     }
    <mat-toolbar color="primary" class="topbar" [style.top.px]="safeTop()">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>HealthyMeals</span>
    </mat-toolbar>

    <div class="container"
         [style.marginTop.px]="TOPBAR_HEIGHT + safeTop()"
         [style.marginBottom.px]="BOTTOMBAR_HEIGHT + safeBottom()">
      <router-outlet></router-outlet>
    </div>

    <!-- Нижний тулбар (поднимаем на safeBottom) -->
    <mat-toolbar color="primary" class="bottombar" [style.bottom.px]="safeBottom()">
      <a mat-button routerLink="/history" routerLinkActive="active">
        <mat-icon>history</mat-icon>
        <span>История</span>
      </a>
      <a mat-button routerLink="/add" routerLinkActive="active">
        <mat-icon>add_a_photo</mat-icon>
        <span>Добавить</span>
      </a>
      <a mat-button routerLink="/analysis" routerLinkActive="active">
        <mat-icon>analytics</mat-icon>
        <span>Анализ</span>
      </a>
    </mat-toolbar>
    @if(safeBottom() > 0)
     {
    <div class="safe-bottom" [style.height.px]="safeBottom()"></div>
     }
  </mat-sidenav-content>
</mat-sidenav-container>
