<mat-sidenav-container class="app-shell">
  <mat-sidenav #drawer mode="over" class="app-drawer" fixedInViewport>
    <app-side-menu (close)="drawer.close()"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <mat-toolbar color="primary" class="topbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Calorie Counter</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
