/* You can add global styles to this file, and also import other style files */

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/material-icons/index.css";
/* опционально: */
@import "@fontsource/material-icons-outlined/index.css";
@import "@fontsource/material-icons-round/index.css";
@import "@fontsource/material-icons-sharp/index.css";

/* ligature icon font classes for Angular Material mat-icon + fontSet */
.material-icons,
.mat-icon.material-icons,
.material-icons-outlined,
.mat-icon.material-icons-outlined,
.material-icons-round,
.mat-icon.material-icons-round,
.material-icons-sharp,
.mat-icon.material-icons-sharp {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons,
.mat-icon.material-icons {
  font-family: "Material Icons";
}

.material-icons-outlined,
.mat-icon.material-icons-outlined {
  font-family: "Material Icons Outlined";
}

.material-icons-round,
.mat-icon.material-icons-round {
  font-family: "Material Icons Round";
}

.material-icons-sharp,
.mat-icon.material-icons-sharp {
  font-family: "Material Icons Sharp";
}

html, body, ion-app, ion-content { height: 100dvh; }

html, body {
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--mat-app-text-color, #fff);
}

ion-content::part(scroll) {
  padding-bottom: var(--ion-safe-area-bottom, env(safe-area-inset-bottom, 0px));
}
