.toolbar {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.toolbar-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.toolbar-action mat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
}
