.toolbar {
  display: flex;
  justify-content: space-around;
}

.toolbar-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.toolbar-action mat-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
}
